html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --app-container-padding-x: 10vw;
  --sidebar-width: 300px;
  --navbar-height: 76px;
}

.ch-codeblock {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 800px;
}
