.sceneui-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a6cf6;
  height: 24px;
  width: fit-content;
  min-width: 46px;
  padding: 0 8px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  line-height: 1;
}
