.sceneui-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #6a6cf6;
  height: 40px;
  width: 110px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  gap: 12px;

  &.round {
    border-radius: 21px;
  }
}
