.sceneui-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 48px;
  width: 128px;
  background-color: white;
  border-radius: 4px;
  color: #007aff;
  font-size: 14px;
  border: 2px solid #007aff;
  box-sizing: border-box;
  cursor: pointer;
  &.btn-round {
    border-radius: 50px;
  }
  &.btn-solid {
    color: white;
    background-color: #007aff;
  }
}
