.sceneui-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 32px;
  width: 86px;
  background-color: white;
  border-radius: 6px;
  color: #007aff;
  font-size: 14px;
  border: 1px solid #007aff;
  box-sizing: border-box;
  cursor: pointer;
  &.btn-round {
    border-radius: 43px;
  }
  &.btn-solid {
    color: white;
    background-color: #007aff;
  }
}
